* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  color: #191a20;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

ul,
ol,
li {
  padding-left: 0;
  list-style: none;
}
